body{
    display: flex;
    flex-direction: column;
    
}
.box1{
    font-size: 50px;
    background-color: aquamarine;
    color: brown;
    padding: 50px 30px 80px;
    margin: 70px; 
    border: solid brown 30px;
    border-color: rgb(104, 96, 92);
    height: 100px;
    width: 200px;
}
.box2{
     color: aquamarine;
     background-color: brown;
     padding: 50px;
    margin: 50px;
    border-radius: 20px; 
    width: 120px;
    font-size: 50px;

}

header{
    font-size: xx-large;
    text-align: center;
    padding: 20px;
    color: darkslateblue;
    background-color: rgb(233, 74, 159);
}
.new{
    font-size: large;
    font-style: oblique;
    border: dodgerblue;
    color: forestgreen;
    background-color: gold;
    padding: 50px;
    margin: 100px;
}
h3{
    color: rgb(22, 15, 8);
}
td,th{
    padding: 20px;
    color: slateblue;
    background-color: springgreen;
    font-size: 20px;
}